* 
{
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

header img
{
    max-width: 20vw;
    max-height: 15vh;
}

header
{
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    max-width: 100%;
}

.easteregg
{
    visibility: hidden;
    width: 100%;
    position: relative;
    max-height: 8vh;
    border: 2px solid rgb(255, 220, 104);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(235, 38, 137);
    background: linear-gradient(to bottom right, rgb(79, 177, 89), rgb(211, 210, 128));
    text-shadow: 0 0 10px rgb(235, 38, 137);
    font-size: 3vh;
    text-align: center;
    color: rgb(255, 220, 104);
}

body 
{
    display: flex;
    flex-direction: column;
    background-image: url('Multimedia/fondito.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Asegura que cubra toda la pantalla */
}

nav
{
    display: flex;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
}

ul
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-shadow: 0 0 10px rgb(235, 38, 137);
    font-weight: 900;
}

li:hover
{
    cursor:help;
}

a
{
    text-decoration: none;
    color: white;
}

a:visited 
{
    color: rgb(65, 190, 76);
}

a:hover
{
    cursor:help;
    color: rgb(255, 220, 104);
}


main 
{
    flex: 1; 
    display: flex;
    flex-direction: column;
}

section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 220, 104);
    text-align: left;
    margin: 1em;
}

.pregunta
{
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 178, 35);
    text-shadow: 0 0 10px rgb(35, 123, 255);
}

section footer
{
    text-align: center;
    color: rgb(255, 178, 35);
    text-shadow: 0 0 10px rgb(35, 123, 255);
}

/*esto es para ponerle un easter egg a la página jejeje*/
@keyframes girar 
{
    from 
    {
        transform: rotate(0deg); /* Empieza en 0 grados */
    }
    to 
    {
        transform: rotate(360deg); /* Gira hasta 360 grados */
    }
}

header > img:hover
{
    animation: girar 2s linear infinite;
    cursor:-webkit-grabbing;
}

img:hover + .easteregg
{
    transition: 2s;
    visibility: visible;
    opacity: 1;
} 