* 
{
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

header img
{
    margin-left: 350px;
    max-width: 20vw;
    max-height: 15vh;
}

header
{
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    max-width: 100%;
}

.easteregg
{
    visibility: hidden;
    width: 80%;
    position: relative;
    max-height: 8vh;
    border: 2px solid rgb(255, 220, 104);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(235, 38, 137);
    background: linear-gradient(to bottom right, rgb(79, 177, 89), rgb(211, 210, 128));
    text-shadow: 0 0 10px rgb(235, 38, 137);
    text-align: center;
    color: rgb(255, 220, 104);
}

body 
{
    display: flex;
    flex-direction: column;
    background-image: url('Multimedia/fondito.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Asegura que cubra toda la pantalla */
}

nav
{
    display: flex;
    margin-left: 375px;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
}

ul
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-shadow: 0 0 10px rgb(235, 38, 137);
    font-weight: 900;
}

a
{
    text-decoration: none;
    color: white;
}

a:visited 
{
    color: rgb(65, 190, 76)
}

a:hover
{
    cursor:help;
    color: rgb(255, 220, 104);
}

li:hover
{
    cursor:help;
}


main 
{
    flex: 1; 
    display: flex;
    flex-direction: row;
}

section
{
    justify-content: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: rgb(135, 233, 148);
    text-shadow: 0 0 10px rgb(235, 38, 137);
    margin: 1em;
}

aside 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form 
{
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    width: 100%; 
    padding: 30px;
}

label 
{
    display: flex;
    color: white;
    text-shadow: 0 0 10px rgb(235, 38, 137);
    align-items: center;
    justify-content: flex-start;
}

input 
{
    width: 100%; /* Asegura que los campos ocupen todo el espacio disponible */
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.recordarContraseña
{
    margin-right: 150px;
}

.tooltip
{
    background-color: #a0247d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.tooltip:hover
{
    background-color: rgb(7, 189, 62);
    box-shadow: 0 0 30px rgb(235, 38, 137);
    color: rgb(255, 220, 104);
}

.entra
{
    visibility: hidden;
    
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-radius: 15%;
    border: 3px solid rgb(255, 220, 104);
    box-shadow: 5px 5px 5px rgba(70, 142, 170, 0.733);
    background: linear-gradient(to bottom right, rgb(7, 189, 62), rgb(131, 72, 111));
    text-align: center;
    color: rgb(255, 220, 104);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    
}

.tooltip:hover + .entra
{
    transition: 2s;
    visibility: visible;
    opacity: 1;
}


.recordarContraseña
{
    justify-content: start;
    align-items: center;
}

div
{
    padding: 30px;
    color: #a0247d;
    text-shadow: #16910b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%; /* Asegura que los inputs no sobresalgan */
}


footer 
{
    text-align: right;
    margin: 1em;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}


/*esto es para ponerle un easter egg a la página jejeje*/
@keyframes girar 
{
    from 
    {
        transform: rotate(0deg); /* Empieza en 0 grados */
    }
    to 
    {
        transform: rotate(360deg); /* Gira hasta 360 grados */
    }
}

img:hover
{
    animation: girar 2s linear infinite;
    cursor:-webkit-grabbing;
}

img:hover + .easteregg
{
    transition: 2s;
    visibility: visible;
    opacity: 1;
} 