* 
{
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

header img
{
    max-width: 20vw;
    max-height: 15vh;
}

header
{
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    max-width: 100%;
}

.easteregg
{
    visibility: hidden;
    width: 80%;
    position: relative;
    max-height: 8vh;
    border: 2px solid rgb(255, 220, 104);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(235, 38, 137);
    background: linear-gradient(to bottom right, rgb(79, 177, 89), rgb(211, 210, 128));
    text-shadow: 0 0 10px rgb(235, 38, 137);
    text-align: center;
    color: rgb(255, 220, 104);
}

body 
{
    display: flex;
    flex-direction: column;
    background-image: url('Multimedia/fondito.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Asegura que cubra toda la pantalla */
}

nav
{
    display: flex;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
}

ul
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-shadow: 0 0 10px rgb(235, 38, 137);
    font-weight: 900;
}

li:hover
{
    cursor:help;
}


main 
{
    flex: 1; 
    display: flex;
    flex-direction: row;
}

section 
{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: rgb(135, 233, 148);
    text-shadow: 0 0 10px rgb(235, 38, 137);
    margin: 1em;
    padding: 1em;
}

.fila 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em; /* Espacio entre las tarjetas */
    margin-bottom: 5em;
}

.polaroid 
{
    display: flex; /* Activa flexbox */
    flex-direction: column;
    width: 18%;
    height: 80%;
    text-align: center;
    background: white;
    padding-top: 1%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
}

.polaroid img.producto 
{
    display: flex;
    width: 400%;
    margin-left: 30%;
    transition: transform 0.5s ease;
}

.polaroid p
{
    margin-left: 140%;
    color: rgb(0, 0, 0);
    text-shadow: none;
}

section p 
{
    font-size: 1.5em;
    margin-bottom: 3em;
    text-shadow: 0 0 10px rgb(235, 38, 137);
    color: rgb(135, 233, 148);
}

a
{
    text-decoration: none;
    color: white;
}

div > a
{
    display: block;
    max-width: 22%;
    height: auto;
    text-align: center;
}

a:visited 
{
    color: rgb(65, 190, 76)
}

a:hover
{
    cursor:help;
    color: rgb(255, 220, 104);
}

.producto
{
    width: 100%;
    max-height: auto;
    transition: transform 0.5s ease;
}

footer 
{
    text-align: right;
    margin: 1em;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

@keyframes girar 
{
    from 
    {
        transform: rotate(0deg); /* Empieza en 0 grados */
    }
    to 
    {
        transform: rotate(360deg); /* Gira hasta 360 grados */
    }
}

.polaroid:hover
{
    transform: rotate(15deg) scale(1.1);
}

header > img:hover
{
    animation: girar 2s linear infinite;
    cursor:-webkit-grabbing;
}

header > img:hover + .easteregg
{
    transition: 2s;
    visibility: visible;
    opacity: 1;
}